body{
    margin:0;
    padding:0;
    background:#f5f5f5;
}
a:hover{
    text-decoration: none;
}
.my-small{
    font-size:0.8rem;
}
.my-color a{
    color:#000;
}
.my-color a:hover{
    color:#ffc107;
}
.my-img{
    width:100px;
    height:100px;
}
.my-img_style li a img,
.my-img_style1 li a img,
.my-img_style2 li a img,
.my-img_style3 li a img{
    border-radius:5%;
}

.my-img_style p a,
.my-img_style1 p a,
.my-img_style2 p a,
.my-img_style3 p a{
    color:#000;
}
.my-img_style p a:hover,
.my-img_style1 p a:hover,
.my-img_style2 p a:hover,
.my-img_style3 p a:hover{
    color:#ffc107;
}
.my-img_style1 li a img{
    width:16rem;
    height:15rem;
}
.my-img_style2 li a img{
    width:8rem;
    height:8rem;
}
.my-img_style2 li p{
    text-align:center;
}
.my-img_style3 li a img{
    width:15rem;
    height:10rem;
}


/*设置头和脚的宽度*/
.my-header iframe,.my-footer iframe{
    width:100%;
}

.iframe-footer iframe{
    height:300px;
}
.my-decoration a:hover{
    text-decoration:none;
    font-size: 20px;
}

.carousel-indicators li{
    width:15px;
    height:15px;
    background:#fff;
    border-radius:50%;
}
.carousel-indicators .active{
    background:#0aa1ed;
}
.carousel-indicators{
   justify-content:flex-end;
    margin-right:5%;
}

.carousel-control-prev,
.carousel-control-next{
    width:3%;
    height:15%;
    top:45%;
    background:rgba(0,0,0,0.5);
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background:rgba(0,0,0,0.9);
}
@media (max-width:400px) {
    .my-header iframe{
        height:16rem;
    }
    .my-img_style li a img{
        width:18rem;
        height:18rem;
    }
    .iframe-footer iframe{
        height:40rem;
    }
}

@media screen and (min-width:401px) and (max-width: 576px) {
    .my-header iframe{
        height:17rem;
    }
    .iframe-footer iframe{
        height:40rem;
    }
.my-img_style li a img{
    width:27rem;
    height:25rem;
}
}
@media (min-width: 576px) {
    .my-header iframe{
        height:17rem;
    }
    .iframe-footer iframe{
        height:32rem;
    }
}

@media (min-width: 768px) {
    .my-header iframe{
      height:13rem;
  }
    .iframe-footer iframe{
        height:32rem
    }
}

@media (min-width: 992px) {
    .my-header iframe{
        height:9rem;
    }
    .iframe-footer iframe{
        height:22rem
    }
}

@media (min-width: 1200px) {
    .my-header iframe{
        height:8rem;
    }
    .iframe-footer iframe{
        height:20rem;
    }
}
/*轮播*/
/*.my-banner{*/
    /*position:relative;*/
/*}*/
/*.my-banner img{*/
    /*height:25rem;*/
/*}*/
/*.my-banner1{*/
    /*width:15rem;*/
    /*position:absolute;*/
    /*z-index:10;*/
    /*top:0;*/
    /*left:0;*/
    /*background:rgba(0,0,0,0.5);*/
/*}*/
/*.my-banner1 ul>li{*/
    /*width:15rem;*/
    /*height:3rem;*/
    /*line-height:3rem;*/
    /*text-align: left;*/
    /*text-indent:1.5rem;*/
    /*margin-bottom:1rem;*/

/*}*/
/*.my-banner1>ul{*/
    /*height:25rem;*/
    /*margin-top:3rem;*/
/*}*/
/*.my-banner1 ul>li a,.my-banner1 ul>li span{*/
    /*color:#fff !important;*/
/*}*/

/*.my-banner1 ul>li:hover{*/
    /*background:#ff7676;*/
/*}*/
/*#my-pos{*/
    /*margin-left:15rem;*/
    /*top:0;*/
     /*bottom:100px;*/
     /*width:35rem;*/
    /*height:25rem;*/
     /*background:#fff;*/
     /*z-index:10;*/
     /*display:none;*/
     /*box-shadow:0 0 8px #000;*/
/*}*/
/*/!*#my-pos ul{*!/*/
    /*/!*width:50rem;*!/*/
/*/!*}*!/*/
/*.my-pos :hover ul{*/
    /*display:block;*/
/*}*/
/*#my-pos ul li a:hover{*/
    /*color:#ff6767;*/
/*}*/
/*.my-li li{*/
    /*margin-top:4rem;*/
/*}*/
/*.my-li1 li{*/
    /*margin-top:4rem;*/
/*}*/
/*.my-li2 li{*/
    /*margin-top:4rem;*/
/*}*/
/*左右箭头*/
/*.my-prev{*/
    /*left:15rem;*/
/*}*/

/*登录*/
.my-login table{
    width:18rem;
    height:20rem;
}
.my-login table a{
    color:#000;
}
.my-login table tr th a h4{
    text-align:left;
    font-size:1.2rem;
    margin-left:0.5rem;
}
.my-login table tr th a h6{
    text-align:right;
    font-size:1rem;
    margin-right:0.5rem;
    color:#3ea000;
}
.my-login table tr th a h6:hover{
    color:#ffc107;
}
.login,.login1,.login2{
    border-radius:0.2rem;
    border:1px solid #deded3;
}
.login1,.login2{
    font-size:0.8rem;
}
.login{
background-color:#FFB31A;
    height:2rem;
    color:#fff;
    font-size:0.8rem;
}
.login,.login1,.login2{
    width:15rem;
}
.my-login table tr:nth-child(4) td{
    text-align:left;
    text-indent:1.5rem;
    font-size:0.8rem;
}
.my-login table tr:nth-child(6) td{
    text-align:left;
    text-indent:1.5rem;
    font-size:0.8rem;
}
.my-login table tr:nth-child(7) td{
    text-align:left;
    text-indent:1.5rem;
    font-size:0.8rem;
}



/*注册*/

.my-sig tr{
    height:4rem;
}
.my-sig tr:not(:first-child){
    vertical-align:top;
}
.my-sig p{
    font-size:0.2rem;
}
.my-sig input,.my-sig button{
    font-size:0.8rem;
    line-height:2.5rem;
    border-radius:0.2rem;
    border:1px solid #deded3;
}
.my-sig tr:first-child>td input,
.my-sig tr:nth-child(2)>td input,
.my-sig tr:nth-child(3)>td input,
.my-sig tr:nth-child(4)>td input{
   width:20rem;
}
.my-sig tr:nth-child(7) button{
    width:20rem;
    background-color:#FFB31A;
    color:#fff;
}

/*主题站*/
.my-words p{
    font-size:1rem;
}
.my-cont{
    width:40rem;
}
.my-cont1{
    width:42rem;
}
.my-cont2{
    width:44rem;
}
.my-cont3{
    width:36rem;
}
.my-cont4{
    width:34rem;
}
.container>div ul li a{
    color:#000;
}

.my-w{
    width:25rem;
}

/* 商城*/
.my-img1 li a img{
    width:15rem;
    height:15rem;

}
.my-img1 li h3{
    margin-top:0.8rem;
    width:15rem;
    font-size:1.1rem;
}
.my-img1 li div{
    margin-bottom:3rem;
}
.old-price{
    display: inline-block;
    font-size:0.1rem;
    color: #999;
    line-height:1rem;
}

/*item*/

.img1{
    width:4rem;
    height:4rem;
    border:1px solid #ffc107;
    vertical-align: top;
}
.img2{
    width:18rem;
    height:18rem;
}
.my-w h3{
    font-size:1.2rem;
    font-weight: 600;
}

.my-w p{
    color:#999;
    font-size:0.9rem;
}

.my-s span{
    color:#FF4C44;
    font-size:1.5rem;
}
.my-s s{
    font-size:0.8rem;
    color:#999;
}
.my-input{
    width:4rem;
    text-align: center;
}
.my-w1 span{
    font-size:0.8rem;
}
.img3 img{
    width:36rem;

}
.img4 img{
    width:15rem;
    height:15rem;
}
.my-btn{
    border-radius:0.2rem;
}

